@{
    ViewBag.Title = "Error";
}

<div class="text-center">
    <h1>@ViewBag.Title</h1>
    <h2 class="text-red">@ViewBag.ErrorMessage</h2>2
    <img src="error.svg" alt="" width="500px" style="margin-top: 100px">
</div>
